*.pyc
wav
mp3
*.wav
*.mp3
.DS_Store
*.cnf
staticfiles
.env
env_recoaudio
env_dejavu
nohup.out
COMMIT_EDITMSG
FETCH_HEAD
HEAD
ORIG_HEAD
config
description
hooks/
index
info/
logs/
objects/
refs/
references/
records/

