# requirements file

### BEGIN ###

# for dejavu
pydub>=0.9.4
#PyAudio>=0.2.7
#numpy>=1.8.2
#scipy>=0.12.1
#matplotlib>=1.3.1
#python-tk>=8.5

# for django
dj-database-url==0.4.1
Django==1.10.4
gunicorn==19.6.0
whitenoise==3.2
mysqlclient>=1.3.3
#MySQL-python>=1.2.3

### END ###
